<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.EmployeeMapper">

    <select id="queryEmployeeById" resultType="com.bdqn.pojo.Employee">
        SELECT id,name,age,depa_id deptId FROM emp WHERE id = #{id}
    </select>

</mapper>